<!-- Made By Dustin Mader -->

<!--Login form -->

<!-- For icons -->
<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel = "stylesheet" href = "reset-password.component.css">

<!-- Entire login form -->
<body>
<div class = "container">    
    <div class = "resetPasswordBox">
        <h1 class = "font">RESET PASSWORD</h1>
        <div class = "rectangle"></div>
        <br>
        <br>
            <form #resetPasswordForm = "ngForm" (ngSubmit)="onResetPasswordForm(resetPasswordForm)">
                <div id = "input">
                    <!-- <div class = "form-layout">
                        <small class = "font"> Please enter your email!</small>
                    </div> -->
                    <div class= "form-layout">
                        <input ngModel class = "font" type = "email" placeholder = "email" name = "email" required>
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <br>
                    <button mat-raised-button class = "font" type = "Submit" value = "Submit" [disabled] = "resetPasswordForm.invalid">
                        Send email to reset password!
                    </button>
                    <br>
                    <br>
                </div>
            </form>
    </div>
</div>
</body>
