<!--Simple pop up discussing our web application-->
<br>
<h1 align = "center">What is gainSpot?</h1>
<div id = "rectangle"></div>

<br>
<div id = "paragraph">
    <p style = "font-size:105%;"> <b>gainSpot</b> is an all in one fitness tracker that is aimed to provide the most convenient experience
    both new and old users could have at the gym. Focused on live updates of gym traffic and gym equipment,
    gainSpot will help maximize efficieny for planning a workout in all circumstances while keeping users
    accountable for their well earned progress.
    </p>
</div> 

<div id = "mybutton">
    <mat-dialog-actions align = "center">
        <button mat-raised-button (click) = "closeAbout()" style = "border-color:aqua; background-color:azure">
            Home
        </button>
    </mat-dialog-actions>
</div>

