<!--Login button and pop up menu content-->
<h1 align = "center">Sign up for notifications!</h1>

<div id = "rectangle"></div>

<br><br>
<form (submit) = "loginUser($event)">
    <div mat-dialog-actions align = "center">
    <input type = "text" placeholder = "Username">
    <br>
    <input type = "password" placeholder = "Password">
    <br>
    <input type = "Submit" value = "Submit">
    </div>
</form>

<br><br><br>
<div id = "mybutton">
    <div mat-dialog-actions align = "center">
        <button mat-raised-button (click) = "closeLogin()">
            Home
        </button>
    </div>
</div>
