<!-- Created by Gerard Bensadoun Gutsens -->
<div>
    <h1 mat-dialog-title style> Add Goal </h1>
    <div id="rectangle"></div>
    <br>
    <div mat-dialog-content>
        <mat-form-field appearance="fill" class = "full-width">
            <input matInput placeholder= "Name of goal" [(ngModel)] = "data.goalName" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class = "full-width">
            <select matInput aria-placeholder="Priority" [(ngModel)] = "data.priority" required>
                <option value="" disabled selected>Select Priority</option>
                <option value="high" class="font ">High</option>
                <option value="mid" class="font">Mid</option>
                <option value="low" class="font">Low</option>
              </select>
        </mat-form-field>
        <mat-form-field appearance="fill" class = "full-width">
            <input matInput placeholder="Comments/Description" [(ngModel)]="data.comments" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class = "full-width">
            <input matInput placeholder="Deadline" type="date"  [(ngModel)]="data.deadline" required>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial (click)="onAddClick()" [disabled]="!isFormValid()">Add</button>
        <button mat-raised-button (click)="onNoClick()">Cancel</button>
    </div>

</div>