<!--classes-->
<!--main toolbar-->


<style>
  body{
    background-image: url('assets/images/BACKGROUND.jpg');
  }
</style>


<div>

  <mat-toolbar style = "background-color: turquoise; color: white" class = "navbar">
    
    <div>
      <a style = "color: white" href = "http://localhost:4200/"> gainSpot </a>

      <!--<span><a style = "color: white" href = ></a></span>
        Need for navigation bar-->

    </div>

    <div>
    
    <!-- Old Button
    <span><a mat-raised-button routerLink ="/about" routerLinkActive="active">About</a></span>-->
    
    <!-- Created a new about button that goes to a popup-->
    <span><button mat-raised-button (click) = "openAbout()">
      About
    </button></span>

    <mat-menu #appMenu="matMenu">
      <button mat-menu-item>Gym Map</button>
      <button mat-menu-item [matMenuTriggerFor]="subMenu">Workouts</button>
    </mat-menu>
    <span><button mat-raised-button [matMenuTriggerFor]="appMenu">Get Started</button></span>
    <mat-menu #subMenu="matMenu">
      <button mat-menu-item>Weekly Schedule</button>
      <button mat-menu-item>All Workouts</button>
    </mat-menu>

    <span><button mat-raised-button (click) = "openLogin()">
      Login
    </button>
    </span>
  </div>

  </mat-toolbar>
</div>

<!--side toolbar-->
<div>
 
</div>

<body>
<!--Image of our logo and other stuff-->

<div>
  <img class ="logo" src = "assets/images/gainspot.jpg">
</div>

<div style = "margin-top: 30px;">
<h1 class="welcomeMsg">
  Welcome to gainSpot!
</h1>
</div>
</body>