

<!--This code written in HTML and CSS-->
<!--Team members Gerard, Dustin, Matt, and James contributed to this-->
<!--Utliized Angular Material for its components and libraries for a better user experience-->
<!-- Below is code for the homepage-->




<div>

  <mat-toolbar style = "background-color: turquoise; color: white" class = "navbar">
    
    <div class = "gainSpot">
      <a style = "color: white" href = "http://localhost:4200/"> gainSpot </a>
    </div>

  <div class = "buttons">
    
    <!-- Created a new about button that goes to a popup-->
    <!-- Taskbar code and buttons-->
    <span><button mat-raised-button (click) = "openAbout()">
      About
    </button></span>
    <span><button mat-raised-button [matMenuTriggerFor]="appMenu">Get Started</button></span>
    <span><button mat-raised-button routerLink = "/login"> Login</button></span>
    <span><button mat-raised-button *ngIf = "isLoggedIn" (click) = "logout()">Logout</button></span>
    <!-- <span><button mat-raised-button (click) ="logout()">Logout</button></span> -->

  <nav>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item routerLink="/map">Gym Map</button>
      <button mat-menu-item [matMenuTriggerFor]="subMenu">Workouts</button>
      <button mat-menu-item routerLink="/gymtraffic">Gym Traffic</button>
    </mat-menu>
    
    <mat-menu #subMenu="matMenu">
      <button mat-menu-item routerLink="/weekly-schedule">Weekly Schedule</button>
      <button mat-menu-item routerLink="/workouts">All Workouts</button>
    </mat-menu>
  </nav>
    
  </div>

  </mat-toolbar>
</div>


<!--side toolbar-->
<div>
 
</div>

<!--Page navigation-->
<router-outlet></router-outlet>

