<!--classes-->
<!--main toolbar-->


<style>
  body{
    background-image: url('assets/images/BACKGROUND.jpg');
  }
</style>


<div>

  <mat-toolbar style = "background-color: turquoise; color: white" class = "navbar">
    
    <div>
      <a style = "color: white" href = "http://localhost:4200/"> gainSpot </a>

      <!--<span><a style = "color: white" href = ></a></span>
        Need for navigation bar-->

    </div>

    <div>
    
    <!-- Old Button
    <span><a mat-raised-button routerLink ="/about" routerLinkActive="active">About</a></span>-->
    
    <!-- Created a new about button that goes to a popup-->
    <span><button mat-raised-button (click) = "openAbout()">
      About
    </button></span>

    <span><a mat-raised-button routerLink ="/login" routerLinkActive="active">Get Started</a></span>

    <button mat-raised-button (click) = "openLogin()">
      Login
    </button></div>

  </mat-toolbar>
</div>

<!--side toolbar-->
<div>
 
</div>

<!-- Welcome message-->
<body>


<!--Image of our logo and other stuff-->

<div>
  <img class ="logo" src = "assets/images/gainspot.jpg">
</div>
</body>