<!-- Made by Dustin Mader -->

<!-- For icons -->
<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel = "stylesheet" href = "signup.component.css">

<!-- Entire Signup form -->
<body>
<div class = "container">
    <div id = "signupBox">
        <h1 id = "font">CREATE YOUR ACCOUNT</h1>
        <div id = "rectangle"></div>
        <br>      
            <!-- <form signupUsers (ngSubmit) = "onSignup()"> -->
            <form [formGroup] = "reactiveform">
                <div id = "input">
                    <div class="form-layout">
                        <input class = "font" type = "text" placeholder = "username" formControlName = "userName">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <span class = "error font" *ngIf = "reactiveform.get('userName')?.errors?.['minlength'] || reactiveform.get('userName')?.errors?.['maxlength']"> Must be longer than 4~30 characters.</span>
                    <br>
                    <br>
                    <div class="form-layout">
                        <input class = "font" type = "email" placeholder = "email address"  formControlName = "email">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <span class = "error font" *ngIf = "reactiveform.controls['email']?.errors?.['email']"> Please enter a valid email address.</span>
                    <br>
                    <br>
                    <div class="form-layout">
                        <input class = "font" type = "password" placeholder = "new password" formControlName = "newPassword">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <span class = "error font" *ngIf = "reactiveform.get('newPassword')?.errors?.['minlength']"> Must be longer than 6 characters.</span>
                    <br>
                    <br>
                    <div class="form-layout">
                        <input class = "font" type = "password" placeholder = "confirm password" formControlName= "confirmPassword" >
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <span class = "error font" *ngIf = "reactiveform.get('confirmPassword')?.errors?.['passwordmismatch']"> Passwords do not match.</span>
                    <br>
                    <br>
                    <!-- <p>Complete the form to submit.</p> -->
                    <button mat-raised-button id = "font" (click) = "onSignup()">
                        Submit
                    </button>
                </div>
            </form>
            <br>
        <div>
            <h2><div class = "font">Already a member?  </div></h2>
            <div class = "font"><p>Login here! <a href = "/login" class = "login"> Login </a></p></div>
        </div>
        <div>
            <a href = "http://localhost:4200/">
                <button class = "font" mat-raised-button>
                    Home
                </button>
            </a>
        </div>
    </div>
</div>