<!-- Created by James -->
<main class="main bgImg">
    <aside class="sidebar">
      <nav class="nav">
        <ul>
            <!-- <li>
                <span class = "material-icons-sharp">person</span>
                <a href="/profile">Profile</a>
            </li> -->
            <h1>Welcome!</h1>
            <li>
    
                <a href="/workouts">
                    <span class = "material-icons-sharp">fitness_center</span>
                    Workouts
                </a>
            </li>
            <li>
        
                <a href="/equipment">
                    <span class = "material-icons-sharp">warning</span>
                    Report Equipiment

                </a>
            </li>
            <li>
                
                <a href= "/map">
                    <span class = "material-icons-sharp">map</span>
                    Map
                </a>
            </li>
            <li>
                
                <a href="/">
                    <span class = "material-icons-sharp">logout</span>
                    Logout
                </a>
            </li>
        </ul>
      </nav>
    </aside>
  </main>

