<!-- Created by James -->
<main class="main bgImg">
    <aside class="sidebar">
      <nav class="nav">
        <ul>
            <!-- <li>
                <span class = "material-icons-sharp">person</span>
                <a href="/profile">Profile</a>
            </li> -->
            <h1>Welcome!</h1>
            <li>
    
                <a href="/createworkout">
                    <span class = "material-icons-sharp">fitness_center</span>
                    Workouts
                </a>
            </li>
            <li>
        
                <a href="/equipment">
                    <span class = "material-icons-sharp">warning</span>
                    Report Equipiment

                </a>
            </li>
            <li>
    
                <a href="/equipment-list">
                    <span class = "material-icons-sharp">receipt_long</span>
                    Report List
                </a>
            </li>
            <li>
                
                <a href= "/map">
                    <span class = "material-icons-sharp">map</span>
                    Map
                </a>
            </li>
            <li>
                
                <button mat-raised-button ="isLoggedIn" (click) = "logout()">
                    <span class = "material-icons-sharp">logout</span>
                    Logout
                </button>
            </li>
        </ul>
      </nav>
    </aside>
  </main>

