<!-- Created by James -->
<div>
    <h2 mat-dialog-title style> Add Workout </h2>
    <div mat-dialog-content>
        <mat-form-field appearance="fill" class = "full-width">
            <input matInput placeholder= "Name of workout" [(ngModel)] = "data.name">
        </mat-form-field>
        <mat-form-field appearance="fill" class = "full-width">
            <input matInput placeholder="Amount of Sets" type = "number" [(ngModel)]="data.sets" min = "0">
        </mat-form-field>
        <mat-form-field appearance="fill" class = "full-width">
            <input matInput placeholder="Amount of Reps"  type = "number" [(ngModel)]="data.reps" min = "0">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial>Add</button>
        <button mat-raised-button (click)="onNoClick()">Cancel</button>
    </div>

</div>