/* Made By Dustin Mader */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*In case backbutton needs to be moved out of the login container
Match background color with body */

/*#backbutton {
    background: rgba(112, 127, 131, 0.382);
    position: absolute;
    left: 94%;
    bottom: 6%;
}*/

.rectangle {
    width: 40px;
    height: 3px;
    background: rgb(126, 220, 246);
}

.font {
    font-family: 'Poppins', sans-serif;
}

.tabs {  

    /*min-height: 100vh;*/
    background: rgba(157, 208, 222, 0.382);
}

.box1 {
    padding: 200px;
    /*border-radius: 20px;*/
    border: 20px solid #fff;
    box-shadow: -15px -15px 45px rgba(255, 255, 255, 0.1), 15px 15px 45px rgba(0, 0, 0, 0.35);
}

.loginBox h1 {
    font-size: 40px;
    letter-spacing: 0.1em;
}

.loginBox input {
    /*display: flex;*/
    width: 300px;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 32px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 5s;
    /*flex-direction: column;*/
}

.form-layout {
    display:flex;
    align-items: center;
}

.form-layout i {
    padding-left: 8px;
}