/* Made By Dustin Mader */
*{
    margin: 0px;
    padding: 0px;
}


.rectangle {
    width: 40px;
    height: 3px;
    background: rgb(126, 220, 246);
}

.font {
    font-family: 'Poppins', sans-serif;
}

.tabs {  

    /*min-height: 100vh;*/
    background: rgba(157, 208, 222, 0.382);
}

