<!-- Created by James -->
<!--Workout page where there will be work outs listed and generated based on what the user wants-->'

<div>
  <mat-toolbar style = "background-color: turquoise; color: white">
    
    <div>
      <button mat-raised-button>
        <a style = "color: turquoise" href = "/dashboard"> Return </a>
      </button>
    </div>
  </mat-toolbar>
</div>

<body class = "tabs">
<div>
  
      
      <div>
        <button mat-raised-button (click) = "openDialog()" style="margin-left: 20px; margin-top: 20px;">
          Add Workout
        </button>
      </div>
      <br>
      <br>
    <div *ngIf="workouts | async as workouts">
      <ul>
        <li *ngFor = "let workout of workouts">
          <mat-checkbox [(ngModel)]="workout.selected"></mat-checkbox>
          <strong>    {{ workout.name }}</strong> Sets: {{ workout.sets}} Reps: {{ workout.reps}}
        </li>
      </ul>
    

    </div>

</div>
</body>

